.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.uploadImageLabel {
   color: #E80202;
   font-weight: bold; 
   align-self: flex-end;
   margin-bottom: 20px;
   margin-top: 10px;
   cursor: pointer;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 10px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.optionLabel {
    font-size: 13px;
    margin-top: 5px;
}