.imageListContainer {
    height: 200px;
    overflow-y: scroll;
}

.imageOptionContainer {
    margin-bottom: 20px;
    cursor: pointer;
}
.imageContainer {
    width: 100%;
    height: 300px;
    
}

.imageOption {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}

.optionLabel {
    margin: 5px 10px;
}